extend includes/layout/layout.pug
block pages
    include includes/components/about-section.pug
    include includes/components/digital-section.pug
    include includes/components/portfolio-section.pug
    include includes/components/service-section.pug
    include includes/components/solution-section.pug
    include includes/components/teamwork-section.pug
    include includes/components/lastest-blogs.pug
    include includes/components/video-pop-up.pug
    include includes/components/scroll-top.pug