.footer
    .container
        .row.justify-content-between.pd-btm
            .col-lg-8
                .footer__content 
                    h3.title Let's make something great together
                    span Get in touch with us and send some basic info for a quick quote
            .col-lg-4.text-right
                .footer__btn
                    a(href="#").btn.btn-black  Start a project 
        .row.align-items-center.pd-top
            .col-lg-3
                .footer__img
                    img(src="../assets/images/logo.png", alt="")
            .col-lg-4
                .footer__text
                    span
                        | 301 The Greenhouse,
                        br
                        | Custard Factory, London, E2 8DY.
            .col-lg-3
                .footer__text
                    span +44 (0) 123 456 7890
                    a(href="#")
                        span sales@domain.com
            .col-lg-2
                ul.footer__icon.d-flex.justify-content-between
                    li
                        a(href="#") 
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    li
                        a(href="#") 
                            <i class="fab fa-twitter"></i>
                    li
                        a(href="#") 
                            <i class="fab fa-google-plus-g"></i>
                    li
                        a(href="#") 
                            <i class="fab fa-instagram mr-0" aria-hidden="true"></i>
                            
                            
                        