.teamwork {
    background-image: url(http://www.themezaa.com/html/pofo/images/business-people.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 850px;
    padding: 160px 0;
}
