#video {
    background-color: #000;
}

.modal-dialog {
    margin: 0 auto;
    .modal-content {
        background-color: #000;
        .modal-header {
            border: none;
        }
        .modal-body {
            padding: 0;
        }
    }
    .close {
        outline: none;
        color: #fff;
        text-shadow: none;
        opacity: 1;
        position: absolute;
        top: 40px;
        right: -120px;
        cursor: pointer;
        z-index: 1;
        pointer-events: auto;
    }
}
