//example : breakpointminmax(320, 767) { width:50%;....... }

@mixin breakpointminmax($sizemin, $sizemax) {
    @media (min-width: $sizemin + px) and (max-width: $sizemax + px) {
        @content;
    }
}

// example @include breakpoint(940) { width:80%; }
@mixin breakpoint($size) {
    @media only screen and (max-width: $size + px) {
        @content;
    }
}

// example @include min-breakpoint(940) { width:80%; }
@mixin min-breakpoint($size) {
    @media only screen and (min-width: $size + px) {
        @content;
    }
}

// example @include max-breakpoint(940) { width:80%; }
@mixin max-breakpoint($size) {
    @media only screen and (max-width: $size + px) {
        @content;
    }
}

html {
    --white: white;
    --black: black;
    --gray: #5d5d5d;
    --white1: white;
    --hover-text: white;
}
html[data-theme="dark"] {
    --white: rgba(255, 255, 255, 0.3);
    --black: white;
    --gray: #5d5d5d;
    --white1: black;
    --hover-text: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    perspective: 1000px;
    background-color: var(--white1);
    transition: all 1s ease;
}

.wrap {
    padding: 500px 0;
}

.container {
    width: 50%;
    margin: auto;
    padding: 70px;
    position: relative;
    @include max-breakpoint(425) {
        padding: 0;
        width: 80%;
    }
    .sneaker {
        transition: all 1s ease;
        transform-style: preserve-3d;
        max-width: 60%;
        padding: 50px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        margin: auto;
        background-color: var(--white);
        text-align: center;
        @include max-breakpoint(425) {
            padding: 20px;
            max-width: 100%;
        }
        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-bottom: 20px;
            &-circle {
                width: 200px;
                height: 200px;
                background: linear-gradient(
                    to right,
                    rgba(245, 70, 66, 0.75),
                    rgba(8, 83, 156, 0.75)
                );
                position: absolute;
                border-radius: 100%;
                @include max-breakpoint(425) {
                    width: 150px;
                    height: 150px;
                }
            }
            img {
                max-width: 100%;
                width: 80%;
                z-index: 2;
                transition: all 1s ease;
            }
        }
        &__title {
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 10px;
            transition: all 1s ease;
            color: var(--black);
            @include max-breakpoint(425) {
                font-size: 24px;
            }
        }
        &__des {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            transform: translateY(40px);
            opacity: 0;
            transition: all 1s ease;
            color: var(--black);
            &.active {
                transform: translateY(0);
                opacity: 1;
            }
            @include max-breakpoint(425) {
                font-size: 14px;
            }
        }
        &__sizes {
            margin: 20px 0 30px;
            transition: all 1s ease;
            button {
                outline: none;
                border: none;
                padding: 5px 20px;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
                margin: 6px;
                cursor: pointer;
                background-color: #fff;
                border-radius: 30%;
                font-size: 12px;
                font-weight: 500;
                transition: all 0.3s ease;
                &:hover {
                    color: var(--hover-text);
                    background-color: var(--gray);
                }
                &.active {
                    color: var(--hover-text);
                    background-color: var(--gray);
                }
            }
        }
        &__pur {
            transition: all 2s ease;
            width: 100%;
            padding: 10px;
            border: none;
            outline: none;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            border-radius: 20px;
            color: #fff;
            background-color: #f82415;
            transition: all 0.3s ease;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            &:hover {
                background-color: #f87c73;
            }
        }
    }
    .btn-animation,
    .btn-dark-mode {
        position: absolute;
        right: -40%;
        min-width: 300px;
        @include max-breakpoint(425) {
            right: 0;
        }
        h2 {
            margin-bottom: 20px;
            font-size: 20px;
            color: var(--black);
        }
    }
    .btn-animation {
        top: 0;
        pointer-events: all;
        @include max-breakpoint(425) {
            top: -40%;
            pointer-events: none;
        }
    }
    .btn-dark-mode {
        top: 100px;
        @include max-breakpoint(425) {
            top: -20%;
        }
    }
    .tgl {
        display: none;

        // add default box-sizing for this scope
        &,
        &:after,
        &:before,
        & *,
        & *:after,
        & *:before,
        & + .tgl-btn {
            box-sizing: border-box;
            &::-moz-selection {
                background: none;
            }
            &::selection {
                background: none;
            }
        }

        + .tgl-btn {
            outline: 0;
            display: block;
            width: 4em;
            height: 2em;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:after,
            &:before {
                position: relative;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
            }

            &:after {
                left: 0;
            }

            &:before {
                display: none;
            }
        }

        &:checked + .tgl-btn:after {
            left: 50%;
        }
    }
    .tgl-style {
        + .tgl-btn {
            background: #fbfbfb;
            border-radius: 2em;
            padding: 2px;
            transition: all 0.4s ease;
            border: 1px solid #e8eae9;
            &:after {
                border-radius: 2em;
                background: #fbfbfb;
                transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                    padding 0.3s ease, margin 0.3s ease;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
                    0 4px 0 rgba(0, 0, 0, 0.08);
            }

            &:hover:after {
                will-change: padding;
            }

            &:active {
                box-shadow: inset 0 0 0 2em #e8eae9;
                &:after {
                    padding-right: 0.8em;
                }
            }
        }

        &:checked + .tgl-btn {
            background: #86d993;
            &:active {
                box-shadow: none;
                &:after {
                    margin-left: -0.8em;
                }
            }
        }
    }
}
