.digital
    .container
        .row.justify-content-center
            .col-lg-5.text-center
                h4.description Easy way to build websites
                h3.title A digital studio crafting beautiful experiences.
        .row
            .col-lg-4
                .digital__box.text-center
                    span.digital__box-num 01
                    h4.digital__box-title Discover talent
                    p Lorem Ipsum is simply dummy text of the printing and typesetting.
                    a(href="#") view more
            .col-lg-4
                .digital__box.text-center
                    span.digital__box-num 02
                    h4.digital__box-title Expert analysis
                    p Lorem Ipsum is simply dummy text of the printing and typesetting.
                    a(href="#") view more 
            .col-lg-4
                .digital__box.text-center
                    span.digital__box-num 03
                    h4.digital__box-title Expert work
                    p Lorem Ipsum is simply dummy text of the printing and typesetting.
                    a(href="#") view more  