.lastest-blogs
    .container
        .row.justify-content-center
            .col-6.text-center.mg-btm
                p.description Latest Blogs
                h3.title Publish what you think, don't put it on social media
        .row
            .col-lg-4
                .lastest-blogs__box
                    .lastest-blogs__box-img
                        img(src="http://www.themezaa.com/html/pofo/images/blog-img124.jpg", alt="img")
                        .img__modal.d-flex.align-items-center.justify-content-center
                            <i class="fas fa-plus"></i>
                    .lastest-blogs__box-content
                        h4.content__title I find modernist design, but it so much faster!
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...
                        .content__line
                        span.content__author 
                            | BY 
                            span JAY BENJAMIN  
                            |  20 AUGUST 2020
            .col-lg-4
                .lastest-blogs__box
                    .lastest-blogs__box-img
                        img(src="http://www.themezaa.com/html/pofo/images/blog-img124.jpg", alt="img")
                        .img__modal.d-flex.align-items-center.justify-content-center
                            <i class="fas fa-plus"></i>
                    .lastest-blogs__box-content
                        h4.content__title I find modernist design, but it so much faster!
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...
                        .content__line
                        span.content__author 
                            | BY 
                            span JAY BENJAMIN  
                            |  20 AUGUST 2020
            .col-lg-4
                .lastest-blogs__box
                    .lastest-blogs__box-img
                        img(src="http://www.themezaa.com/html/pofo/images/blog-img124.jpg", alt="img")
                        .img__modal.d-flex.align-items-center.justify-content-center
                            <i class="fas fa-plus"></i>
                    .lastest-blogs__box-content
                        h4.content__title I find modernist design, but it so much faster!
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...
                        .content__line
                        span.content__author 
                            | BY 
                            span JAY BENJAMIN  
                            |  20 AUGUST 2020