section.navbar-slider
    .owl-carousel.slider
            .navbar-slider__item.d-flex.justify-content-center.align-items-center.flex-column(style="background-image : url(http://www.themezaa.com/html/pofo/images/classic-business-slider-02.jpg)")
                h2 We create the trend
                h6  We are delivering beautiful digital products
                a(href="#").btn.btn-red PURCHASE POFO
            .navbar-slider__item.d-flex.justify-content-center.align-items-center.flex-column(style="background-image: url(http://www.themezaa.com/html/pofo/images/classic-business-slider-03.jpg)")
                h2 A beautiful experiences
                h6  We are delivering beautiful digital products
                a(href="#").btn.btn-red PURCHASE POFO
            .navbar-slider__item.d-flex.justify-content-center.align-items-center.flex-column(style="background-image: url(http://www.themezaa.com/html/pofo/images/classic-business-slider-01.jpg)")
                h2 A digital marketing
                h6  We are delivering beautiful digital products
                a(href="#").btn.btn-red PURCHASE POFO
    .navbar-slider__scrdown
        a(href="#about") scroll down 
        .navbar-slider__scrdown-line