.portfolio
    .container
        .row.justify-content-center.align-items-center
            .col-lg-5.text-center
                h4.description Our recent works
                h3.title New stunning projects for our amazing clients
    .container-fluid
        .row
            .portfolio__filter
                ul.portfolio__grid
                    li.portfolio__grid-sizer
                    li.portfolio__grid-item
                        a(href="#")
                            figure
                                .item__img
                                    img(src="http://www.themezaa.com/html/pofo/images/portfolio-item181.jpg", alt="img")
                                figcaption
                                    .item__caption
                                        h5 Naked Soap
                                        p Web and Photography
                    li.portfolio__grid-item
                        a(href="#")
                            figure
                                .item__img
                                    img(src="http://www.themezaa.com/html/pofo/images/portfolio-item182.jpg", alt="img")
                                figcaption
                                    .item__caption
                                        h5 Naked Soap
                                        p Web and Photography 
                    li.portfolio__grid-item
                        a(href="#")
                            figure
                                .item__img
                                    img(src="http://www.themezaa.com/html/pofo/images/portfolio-item183.jpg", alt="img")
                                figcaption
                                    .item__caption
                                        h5 Naked Soap
                                        p Web and Photography
                    li.portfolio__grid-item
                        a(href="#")
                            figure
                                .item__img
                                    img(src="http://www.themezaa.com/html/pofo/images/portfolio-item184.jpg", alt="img")
                                figcaption
                                    .item__caption
                                        h5 Naked Soap
                                        p Web and Photography 
                    li.portfolio__grid-item
                        a(href="#")
                            figure
                                .item__img
                                    img(src="http://www.themezaa.com/html/pofo/images/portfolio-item185.jpg", alt="img")
                                figcaption
                                    .item__caption
                                        h5 Naked Soap
                                        p Web and Photography 
                    li.portfolio__grid-item
                        a(href="#")
                            figure
                                .item__img
                                    img(src="http://www.themezaa.com/html/pofo/images/portfolio-item186.jpg", alt="img")
                                figcaption
                                    .item__caption
                                        h5 Naked Soap
                                        p Web and Photography
                    li.portfolio__grid-item
                        a(href="#")
                            figure
                                .item__img
                                    img(src="http://www.themezaa.com/html/pofo/images/portfolio-item187.jpg", alt="img")
                                figcaption
                                    .item__caption
                                        h5 Naked Soap
                                        p Web and Photography
                    li.portfolio__grid-item
                        a(href="#")
                            figure
                                .item__img
                                    img(src="http://www.themezaa.com/html/pofo/images/portfolio-item188.jpg", alt="img")
                                figcaption
                                    .item__caption
                                        h5 Naked Soap
                                        p Web and Photography 