.solution
    .container-fluid
        .row.align-items-center
            .col-xl-7.solution__img
                a(href="" data-toggle="modal" data-target="#video").solution__img-video.d-flex.align-items-center.justify-content-center
                    <i class="fa fa-play" aria-hidden="true"></i>
            .col-xl-5    
                .solution__content
                    h3.solution__content-title We provide solutions to grow your business
                    p Lorem Ipsum is simply dummy text printing and typesetting industry been the industry's standard dummy text ever since when an unknown printer took a galley of type and scrambled
                    ul.solution__content-list
                        li 
                            p Let’s collaborate make an impact in the business
                        li 
                            p A satisfied customer is the best business starts
                        li 
                            p Expertise to build the things that matter for you
                    a.btn.btn-black View All Services